.banner{
    width: 95%;
    height: 45vh;
    margin: auto;
  
    background-size: 100% 100%;

    animation-name: banner;
    animation-duration: 10s;
    animation-iteration-count: infinite;

    animation: banner 10s infinite;
 
}

@keyframes banner{
    0%, 30% {
        background-image: url(imagens/cooler.jpg);
        opacity: 1;
    }

    31%, 34%{
        opacity: 0.1;
    }


     35%, 65%{
         background-image: url(imagens/hd.jpg);
         opacity: 1;
         
     }

     66%, 69%{
         opacity: 0.1;
     }

     70%, 100%{
         background-image: url(imagens/placa.jpg);
         opacity: 1;
     }
}