*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*fontes*/
@font-face {
    font-family:'audio' ;
    src: url('fontes/Audiowide.ttf') format('opentype'), url('fontes/Audiowide.ttf') format('truetype');
}

@font-face {
    font-family:'museom' ;
    src: url('fontes/MuseoModerno.ttf') format('opentype'), url('fontes/MuseoModerno.ttf') format('truetype');
}
/*-------------------------------------fontes*/



    body{
        background-color: #000;
        height: 100vh;
    }



    a{
        color: #fff;
        text-decoration: none;
        transition: 0.3s;
    
    }
    a :hover{
        opacity: 0.7;
        color: #00ff08;
    }
    
    nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 8vh;
        padding: 50px 0%;
    }
    
    .lista{
        list-style: none;
        display: flex;
    }
    .lista li{
        letter-spacing: 3px;
        margin-left: 32px;
    }

    .flex{
        display: flex;
    }
    

/* topo do site*/
section .topo{ 
    padding: 40px 4%;
}

section.topo .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo h1{
    color: white;
    font-size: 35px;
    font-family: 'audio';

}
.topo h4{
    color: #00ff08;
    font-size: 20px;
    font-family:'museom';
    

}
.topo p{
    color: white;
    font-size: 20px;
    font-family:'museom';
  
    
}
.btn-contato button{
    font-weight: 700;
    border-radius: 5px;
    margin-top: 20px;
    
}

.btn-contato button{
    background: #00ff08;
    border:  2px solid #00ff08;
    transform: skew(-10deg);
    padding: 5px;
    color: #000;
   
    
}






/*modo celular*/

@media screen and (max-width: 940px) {
     .flex{
        flex-direction: column;
     }

     section .topo{ 
        padding: 20px 6%; 
    }


     .topo h1{
       padding-top: 30px;
        font-size: 25px;
        font-family: 'audio';
    
    } 

    .topo p{
        
        font-size: 12px;
        font-family:'museom';
        
    }
    .pulsar{
        left: 70%;
        bottom: 30%;
    }

    .btn-contato button{ /*esconde buton*/
       display: none;
    
    }

    .topo .imagem-topo img{
        width: 100%;
    }

    section.topo .flex{
      
        gap: 40px;
    }
    
    .menu-desktop .logo{
        padding: 30px ;
        padding-top: 50px;
    }
    

    .menu-desktop{
        padding: 30px 3px ;
        align-items: center;
        justify-content: space-between;
    }

   
}


