*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    background-color: black;
}
@font-face {
    font-family:'audio' ;
    src: url('Audiowide.ttf') format('opentype'), url('Audiowide.ttf') format('truetype');

   
}

@font-face {
    font-family:'museom' ;
    src: url('MuseoModerno.ttf') format('opentype'), url('MuseoModerno.ttf') format('truetype');
}

header{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 27px 7%;
    align-items: center;
    transition: ease all .55s;
}

.logo img{
    display: flex;
    align-items: center;
    width: 4rem;
    height: 4rem;
}

.links {
    display: flex;
    font-family: museom;
   
}

.links a{
    font-weight: 600;
    margin: 0 35px;
    transition: all ease .55s;
    color: white
    
    

}

.links a:hover{
    color: rgb(0, 255, 0);

}

section{
    padding: 9% 7%;
}

.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.hero-img{
    height: 500px;
    width: 500px;
}

.hero-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.hero-in{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(100px,auto));
    align-items: center;
    text-align: center;
    gap: 10px;

}
.hero-text{
    width: 100%;
    height: 100%;
}
    

.hero-text h1{
    font-family: audio;
    font-size: 3rem;
    font-weight: 500;
    color: white;

}

.hero-text h4{
    font-family: museom;
    margin: 5px 0 20px;
    color: rgb(47, 255, 47);
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 22px;
    font-weight: 400;


}

.hero-text p{
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    line-height: 6px;
    max-width: 550px;
    margin-bottom: 4rem;

}

.box{
    background-color: #fff;
    padding: 15px 10px ;
    border-radius: 2rem;
    box-shadow:rgba(233, 235, 238, 0.897)4px 10px 10px -5px;
    cursor: pointer;
    margin-bottom: 2rem;
    text-align: center;
    transition: all ease .55s;
    

}



.box img{
    max-width: 100%;
    height: auto;
   

}

.box h3{
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 10px;
   color: black;
    background: white;

}

.box a{
    color: rgb(0, 255, 0);
    font-size: 20px;
}

.box img{
    border-radius: 5%;
}
