
.menu{
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;
}
.menu div{
    width: 32px;
    height: 2px;
    background-color: #fff;
    margin: 8px;

}



@media (max-width: 940px){
    .lista{
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 80vh;
        background:rgba(8, 7, 7, 0.582);
        backdrop-filter: blur(5px);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border-radius: 8px;
        display: none;
        box-shadow: 0 0 8px #04f561;
    }
    .menu{
        display: block;
       
    }

 
    .lista li{
            display: block;
            padding: 3rem;
            justify-content: space-around;
            align-items: center;
          
       
            
    }
    .lista{
        font-style: italic;
        

    }
    .lista a:hover{
        padding: 10px;
       background-color: #00ff08;
       color: black;
       border-radius: 30px;
      
    }

    

    .open{
       
        display: block;
       
 
    }
}




