*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    background-color: black;
}
@font-face {
    font-family:'audio' ;
    src: url('fontes/Audiowide.ttf') format('opentype'), url('fontes/Audiowide.ttf') format('truetype');

   
}

@font-face {
    font-family:'museom' ;
    src: url('fontes/MuseoModerno.ttf') format('opentype'), url('fontes/MuseoModerno.ttf') format('truetype');
}

header{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 30px 7%;
    align-items: center;
    transition: ease all .55s;
    
}
.logo{
    display: flex;
    align-items: center;
    padding: 2px ;
    
}

.logo img{
    display: flex;
    align-items: center;
    width: 2rem;
    height: 2rem;
}
.nome{
    color: white;
    font-family: 'audio';
    padding: 3px;
    
}

.links {
    display: flex;
    font-family: museom;
   
}

.links a{
    font-weight: 600;
    margin: 0 35px;
    transition: all ease .55s;
    color: white
    
    

}

.links a:hover{
    color: rgb(0, 255, 0);

}

section{
    padding: 15% 2%;
   
   
    
}
section{
    width: 500px;
    height: 300px;
    margin: 100px auto;
   
}


.hero{

    position: relative;
    width: 80%;
    height: 70vh;
    border-radius: 3%;
   
    

    background: linear-gradient(135deg, rgba(7, 0, 0, 0.993),rgb(7, 1, 1));
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0);
    box-shadow: 0 8px 32px 0 rgba(172, 167, 167, 0.37);
    

}

.hero-img{
    height: 50%;
    width: 50%;
   
}


.hero-text{
    width: 100%;
    height: 20%;

    transform: translate(2%, 2%);
  
}
    

.hero-text h1{
    
    font-family: audio;
    font-size: 2rem;
    font-weight: 500;
    color: white;
    display: block;


}
 .hero-text h1{
    letter-spacing: 8;
    position: relative;
    animation:  text 5s  1;
 }


@keyframes text{
    0%{
        color: black;
        margin-bottom:  -40px;

    }
    30%{
        letter-spacing: 25px;
        margin-bottom: -40px;

    }
    85%{
        letter-spacing: 8px;
        margin-bottom: -40px;
    }
}


.hero-text h4{
    font-family: museom;
    margin: 2px 0 5px;
    color: rgb(47, 255, 47);
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 22px;
    font-weight: 400;


}

.hero-text p{
    font-family:'museom';
    font-size: 1rem;
    font-weight: 150;
    color: white;
    line-height: 7px;
    max-width: 550px;
    margin-bottom: 1rem;
    

}


.imagem img{
    width: 80%;
    height: 80%;
  
  
}




