*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana,  sans-serif;
    
}

.fundo{
    background-size:cover;
    height:100vh;
    background-image: linear-gradient(rgb(28,28,28),rgba(0,0,0,0.4)),url(imagens/fundo.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.navbar{
    height: 80px;
    width: 100%;
    background: rgba(10, 10, 10, 0.397);
}
.logo{
    width: 170px;
    height: auto;
    padding: 5px 20px;
}
.navbar ul{
        float: right;
        margin: 10px
}
.navbar ul li{
        list-style: none;
        margin: 0 3px;
        display: inline-block;
        line-height: 50px;
}
.navbar ul li a{
        text-decoration: none;
        color: white;
        padding: 6px 8px;
        font-size: 15px;
        font-family:'Roboto', sans-serif;
        transition: .4s;

}

.navbar ul li a:hover{
    background: #0064006c;
    border: 1px solid #006400;
    border-radius: 10px;



}
.fundo .center{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    user-select:none;

}

